.bg-container {
    background-image: url('https://ik.imagekit.io/4z8covdo9/MERN%20BATCH%209/TOURISM-PROJECT/sea-image');
    width: 300px;
    height: 600px;
    background-size: cover;
  }
  
  .bg-container-places {
    background-image: url('https://img.freepik.com/free-photo/beautiful-vertical-shot-taj-mahal-building-agra-india-cloudy-sky_181624-16913.jpg');
    width: 300px;
    height: 626px;
    background-size: contain;
    background-repeat: no-repeat;
  }